main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #103a66;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10%;
}

form h1 {
  font-size: 24px;
  color: #103a66;
  margin-bottom: 20px;
  text-align: center;

}

.campo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}


label {
  font-weight: bold;
  color: #103a66;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  
}

form button {
  background-color:#103a66;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
}

button:hover {
  background-color: #011f3f;
}
